In [2]:
!pwd

/home/chrisogonas/fourthbrain/code/FourthBrain-2

In [2]:
!man pwd

PWD(1)                           User Commands                          PWD(1)

NAME
       pwd - print name of current/working directory

SYNOPSIS
       pwd [OPTION]...

DESCRIPTION
       Print the full filename of the current working directory.

       -L, --logical
              use PWD from environment, even if it contains symlinks

       -P, --physical
              avoid all symlinks

       --help display this help and exit

       --version
              output version information and exit

       If no option is specified, -P is assumed.

       NOTE:  your shell may have its own version of pwd, which usually super‐
       sedes the version described here.  Please refer to your  shell's  docu‐
       mentation for details about the options it supports.

AUTHOR
       Written by Jim Meyering.

REPORTING BUGS
       GNU coreutils online help: <https://www.gnu.org/software/coreutils/>
       Report pwd translation bugs to <https://translationproject.org/team/>

COPYRIGHT
       Copyright  ©  2018  Free Software Foundation, Inc.  License GPLv3+: GNU
       GPL version 3 or later <https://gnu.org/licenses/gpl.html>.
       This is free software: you are free  to  change  and  redistribute  it.
       There is NO WARRANTY, to the extent permitted by law.

SEE ALSO
       getcwd(3)

       Full documentation at: <https://www.gnu.org/software/coreutils/pwd>
       or available locally via: info '(coreutils) pwd invocation'

GNU coreutils 8.30              September 2019                          PWD(1)

In [3]:
%%bash
pwd
ls -lah

/home/chrisogonas/fourthbrain/code/FourthBrain-2
total 28K
drwxr-xr-x 3 chrisogonas chrisogonas 4.0K Dec  6 23:08 .
drwxr-xr-x 5 chrisogonas chrisogonas 4.0K Dec  3 15:18 ..
drwxr-xr-x 8 chrisogonas chrisogonas 4.0K Dec  6 21:33 .git
-rw-r--r-- 1 chrisogonas chrisogonas 1.8K Dec  3 06:07 .gitignore
-rw-r--r-- 1 chrisogonas chrisogonas 1.1K Dec  3 06:07 LICENSE
-rw-r--r-- 1 chrisogonas chrisogonas   30 Dec  3 06:07 README.md
-rw-r--r-- 1 chrisogonas chrisogonas 3.3K Dec  6 23:13 unix-conda-pip.ipynb

In [3]:
%%bash
cd ..
pwd

/home/chrisogonas/fourthbrain/code/FourthBrain-2

In [8]:
!tree -L 2

/bin/bash: tree: command not found

In [9]:
# download csv file
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data -O ../dat/adult.csv

--2022-12-06 23:35:25--  https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3974305 (3.8M) [application/x-httpd-php]
Saving to: ‘../dat/adult.csv’

../dat/adult.csv    100%[===================>]   3.79M  4.79MB/s    in 0.8s

2022-12-06 23:35:26 (4.79 MB/s) - ‘../dat/adult.csv’ saved [3974305/3974305]

In [11]:
!tree .. -L 2 # check again

/bin/bash: tree: command not found

Let's inspect first 10 lines of data:

In [12]:
!head ../dat/adult.csv

39, State-gov, 77516, Bachelors, 13, Never-married, Adm-clerical, Not-in-family, White, Male, 2174, 0, 40, United-States, <=50K
50, Self-emp-not-inc, 83311, Bachelors, 13, Married-civ-spouse, Exec-managerial, Husband, White, Male, 0, 0, 13, United-States, <=50K
38, Private, 215646, HS-grad, 9, Divorced, Handlers-cleaners, Not-in-family, White, Male, 0, 0, 40, United-States, <=50K
53, Private, 234721, 11th, 7, Married-civ-spouse, Handlers-cleaners, Husband, Black, Male, 0, 0, 40, United-States, <=50K
28, Private, 338409, Bachelors, 13, Married-civ-spouse, Prof-specialty, Wife, Black, Female, 0, 0, 40, Cuba, <=50K
37, Private, 284582, Masters, 14, Married-civ-spouse, Exec-managerial, Wife, White, Female, 0, 0, 40, United-States, <=50K
49, Private, 160187, 9th, 5, Married-spouse-absent, Other-service, Not-in-family, Black, Female, 0, 0, 16, Jamaica, <=50K
52, Self-emp-not-inc, 209642, HS-grad, 9, Married-civ-spouse, Exec-managerial, Husband, White, Male, 0, 0, 45, United-States, >50K
31, Private, 45781, Masters, 14, Never-married, Prof-specialty, Not-in-family, White, Female, 14084, 0, 50, United-States, >50K
42, Private, 159449, Bachelors, 13, Married-civ-spouse, Exec-managerial, Husband, White, Male, 5178, 0, 40, United-States, >50K

In [13]:
!tail ../dat/adult.csv

43, Private, 84661, Assoc-voc, 11, Married-civ-spouse, Sales, Husband, White, Male, 0, 0, 45, United-States, <=50K
32, Private, 116138, Masters, 14, Never-married, Tech-support, Not-in-family, Asian-Pac-Islander, Male, 0, 0, 11, Taiwan, <=50K
53, Private, 321865, Masters, 14, Married-civ-spouse, Exec-managerial, Husband, White, Male, 0, 0, 40, United-States, >50K
22, Private, 310152, Some-college, 10, Never-married, Protective-serv, Not-in-family, White, Male, 0, 0, 40, United-States, <=50K
27, Private, 257302, Assoc-acdm, 12, Married-civ-spouse, Tech-support, Wife, White, Female, 0, 0, 38, United-States, <=50K
40, Private, 154374, HS-grad, 9, Married-civ-spouse, Machine-op-inspct, Husband, White, Male, 0, 0, 40, United-States, >50K
58, Private, 151910, HS-grad, 9, Widowed, Adm-clerical, Unmarried, White, Female, 0, 0, 40, United-States, <=50K
22, Private, 201490, HS-grad, 9, Never-married, Adm-clerical, Own-child, White, Male, 0, 0, 20, United-States, <=50K
52, Self-emp-inc, 287927, HS-grad, 9, Married-civ-spouse, Exec-managerial, Wife, White, Female, 15024, 0, 40, United-States, >50K

How about the last 3 lines? ( wait, I only see 2 lines. what's wrong? )

In [14]:
!tail -n 3 ../dat/adult.csv

22, Private, 201490, HS-grad, 9, Never-married, Adm-clerical, Own-child, White, Male, 0, 0, 20, United-States, <=50K
52, Self-emp-inc, 287927, HS-grad, 9, Married-civ-spouse, Exec-managerial, Wife, White, Female, 15024, 0, 40, United-States, >50K

How many records are there?

In [15]:
!wc -l ../dat/adult.csv

32562 ../dat/adult.csv

Challenge: how many columns are there?

In [16]:
!head -1 ../dat/adult.csv | sed 's/[^,]//g' | wc -c

15

Conda: environment manager + package manager

In [18]:
%%bash
which conda # where the executable conda is in my path?
conda -V # which version of conda?
which python # where the executable python is in my path?
python -V

/home/chrisogonas/anaconda3/bin/conda
conda 4.10.3
/home/chrisogonas/anaconda3/bin/python
Python 3.9.7

In [35]:
%%bash
cd ~/fourthbrain/code/FourthBrain-2/
pwd

/home/chrisogonas/fourthbrain/code/FourthBrain-2

Create a new conda environment named py39_12 where you specify a python version to be 3.9.12. Note the last flag --yes to skip the confirmation prompt.

In [39]:
%%bash
cd ~/fourthbrain/code/FourthBrain-2/
pwd
conda create --name py39_12 python=3.9.12 --yes

/home/chrisogonas/fourthbrain/code/FourthBrain-2
Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... failed with repodata from current_repodata.json, will retry with next repodata source.
Collecting package metadata (repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: /home/chrisogonas/anaconda3/envs/py39_12

  added / updated specs:
    - python=3.9.12


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    _openmp_mutex-5.1          |            1_gnu          21 KB
    ca-certificates-2022.10.11 |       h06a4308_0         124 KB
    certifi-2022.9.24          |   py39h06a4308_0         154 KB
    ld_impl_linux-64-2.38      |       h1181459_1         654 KB
    libgcc-ng-11.2.0           |       h1234567_1         5.3 MB
    libgomp-11.2.0             |       h1234567_1         474 KB
    libstdcxx-ng-11.2.0        |       h1234567_1         4.7 MB
    ncurses-6.3                |       h5eee18b_3         781 KB
    openssl-1.1.1s             |       h7f8727e_0         3.6 MB
    pip-22.2.2                 |   py39h06a4308_0         2.3 MB
    python-3.9.12              |       h12debd9_1        19.2 MB
    readline-8.2               |       h5eee18b_0         357 KB
    setuptools-65.5.0          |   py39h06a4308_0         1.1 MB
    sqlite-3.40.0              |       h5082296_0         1.2 MB
    tk-8.6.12                  |       h1ccaba5_0         3.0 MB
    tzdata-2022g               |       h04d1e81_0         114 KB
    wheel-0.37.1               |     pyhd3eb1b0_0          33 KB
    xz-5.2.8                   |       h5eee18b_0         429 KB
    zlib-1.2.13                |       h5eee18b_0         103 KB
    ------------------------------------------------------------
                                           Total:        43.6 MB

The following NEW packages will be INSTALLED:

  _libgcc_mutex      pkgs/main/linux-64::_libgcc_mutex-0.1-main
  _openmp_mutex      pkgs/main/linux-64::_openmp_mutex-5.1-1_gnu
  ca-certificates    pkgs/main/linux-64::ca-certificates-2022.10.11-h06a4308_0
  certifi            pkgs/main/linux-64::certifi-2022.9.24-py39h06a4308_0
  ld_impl_linux-64   pkgs/main/linux-64::ld_impl_linux-64-2.38-h1181459_1
  libffi             pkgs/main/linux-64::libffi-3.3-he6710b0_2
  libgcc-ng          pkgs/main/linux-64::libgcc-ng-11.2.0-h1234567_1
  libgomp            pkgs/main/linux-64::libgomp-11.2.0-h1234567_1
  libstdcxx-ng       pkgs/main/linux-64::libstdcxx-ng-11.2.0-h1234567_1
  ncurses            pkgs/main/linux-64::ncurses-6.3-h5eee18b_3
  openssl            pkgs/main/linux-64::openssl-1.1.1s-h7f8727e_0
  pip                pkgs/main/linux-64::pip-22.2.2-py39h06a4308_0
  python             pkgs/main/linux-64::python-3.9.12-h12debd9_1
  readline           pkgs/main/linux-64::readline-8.2-h5eee18b_0
  setuptools         pkgs/main/linux-64::setuptools-65.5.0-py39h06a4308_0
  sqlite             pkgs/main/linux-64::sqlite-3.40.0-h5082296_0
  tk                 pkgs/main/linux-64::tk-8.6.12-h1ccaba5_0
  tzdata             pkgs/main/noarch::tzdata-2022g-h04d1e81_0
  wheel              pkgs/main/noarch::wheel-0.37.1-pyhd3eb1b0_0
  xz                 pkgs/main/linux-64::xz-5.2.8-h5eee18b_0
  zlib               pkgs/main/linux-64::zlib-1.2.13-h5eee18b_0



Downloading and Extracting Packages
python-3.9.12        | 19.2 MB   | ########## | 100%
wheel-0.37.1         | 33 KB     | ########## | 100%
pip-22.2.2           | 2.3 MB    | ########## | 100%
setuptools-65.5.0    | 1.1 MB    | ########## | 100%
openssl-1.1.1s       | 3.6 MB    | ########## | 100%
libgomp-11.2.0       | 474 KB    | ########## | 100%
libgcc-ng-11.2.0     | 5.3 MB    | ########## | 100%
zlib-1.2.13          | 103 KB    | ########## | 100%
ncurses-6.3          | 781 KB    | ########## | 100%
xz-5.2.8             | 429 KB    | ########## | 100%
libstdcxx-ng-11.2.0  | 4.7 MB    | ########## | 100%
tk-8.6.12            | 3.0 MB    | ########## | 100%
ld_impl_linux-64-2.3 | 654 KB    | ########## | 100%
tzdata-2022g         | 114 KB    | ########## | 100%
readline-8.2         | 357 KB    | ########## | 100%
certifi-2022.9.24    | 154 KB    | ########## | 100%
_openmp_mutex-5.1    | 21 KB     | ########## | 100%
sqlite-3.40.0        | 1.2 MB    | ########## | 100%
ca-certificates-2022 | 124 KB    | ########## | 100%
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done
#
# To activate this environment, use
#
#     $ conda activate py39_12
#
# To deactivate an active environment, use
#
#     $ conda deactivate

==> WARNING: A newer version of conda exists. <==
  current version: 4.10.3
  latest version: 22.11.0

Please update conda by running

    $ conda update -n base -c defaults conda

In [45]:
%%bash
cd ~/fourthbrain/code/FourthBrain-2/
pwd
python --version
which python
conda env list

/home/chrisogonas/fourthbrain/code/FourthBrain-2
Python 3.9.7
/home/chrisogonas/anaconda3/bin/python
# conda environments:
#
base                  *  /home/chrisogonas/anaconda3
py39_12                  /home/chrisogonas/anaconda3/envs/py39_12

Pip: python package manager

In [46]:
!which pip

/home/chrisogonas/anaconda3/bin/pip

In [47]:
%pip install --upgrade pip

Requirement already satisfied: pip in ./anaconda3/lib/python3.9/site-packages (21.2.4)
Collecting pip
  Downloading pip-22.3.1-py3-none-any.whl (2.1 MB)
     |████████████████████████████████| 2.1 MB 1.2 MB/s eta 0:00:01
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 21.2.4
    Uninstalling pip-21.2.4:
      Successfully uninstalled pip-21.2.4
Successfully installed pip-22.3.1
Note: you may need to restart the kernel to use updated packages.

In [48]:
%pip install numpy pandas

Requirement already satisfied: numpy in ./anaconda3/lib/python3.9/site-packages (1.20.3)
Requirement already satisfied: pandas in ./anaconda3/lib/python3.9/site-packages (1.3.4)
Requirement already satisfied: python-dateutil>=2.7.3 in ./anaconda3/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in ./anaconda3/lib/python3.9/site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in ./anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [49]:
# allow multiple outputs in a single cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [50]:
import numpy as np

# create a numpy array with random numbers
x = np.random.rand(10)
x.shape
x.reshape((5, -1))

(10,)

array([[0.61684442, 0.66047137],
       [0.92281143, 0.52945294],
       [0.90570916, 0.80997197],
       [0.90009944, 0.12495236],
       [0.64792022, 0.18358936]])

In [51]:
%precision 3
x.reshape((5,-1))

'%.3f'

array([[0.617, 0.66 ],
       [0.923, 0.529],
       [0.906, 0.81 ],
       [0.9  , 0.125],
       [0.648, 0.184]])

In [53]:
import pandas as pd

census_df = pd.read_csv(filepath_or_buffer='~/fourthbrain/code/FourthBrain-2/dat/adult.csv', header = None)
census_df.head()
census_df.tail()
census_df.shape

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

(32561, 15)

Uninstall packages

In [54]:
%pip uninstall numpy pandas --yes

Found existing installation: numpy 1.20.3
Uninstalling numpy-1.20.3:
  Successfully uninstalled numpy-1.20.3
Found existing installation: pandas 1.3.4
Uninstalling pandas-1.3.4:
  Successfully uninstalled pandas-1.3.4
Note: you may need to restart the kernel to use updated packages.

In [55]:
%pip cache purge

Files removed: 64
Note: you may need to restart the kernel to use updated packages.